*, *:before, *:after
{
-moz-box-sizing: border-box; -webkit-box-sizing;
}

body {
width:99%;
margin:0 auto;
border:1px solid #000000;
background-color: grey;
}

.header
{
	margin:auto;
	width:99%;
	background-color: pink;
	padding: 10px;
	border:1px solid #000000;
	;
}

.navigation
{
	margin:auto;
	width:99%;
	background-color:green;
	border:1px solid #000000;
	clear: both;
}

.row1 
{
	margin:auto;
	width:99%;
	background-color:red;
	border:1px solid orange;
	clear: both;
}

.row2 
{
	margin:auto;
	width:99%;
	background-color:purple;
	border:1px solid blue;
	clear: both;
}

.about 
{
	margin:auto;
	width:45%;
	background-color:orange;
	border:1px solid #000000;
	float:left;
}

.schedule
{
	margin:auto;
	width:45%;
	background-color:navy;
	border:1px solid #000000;
	float:right;
}

.sessions
{
	margin:auto;
	width:30%;
	background-color:pink;
	border:1px solid #000000;
	float: left;
}

.speakers
{
	margin:auto;
	width:30%;
	background-color:pink;
	border:1px solid #000000;
	float: left;
}

.videos
{
	margin:auto;
	width:30%;
	background-color:yellow;
	border:1px solid #000000;
	float: right;
}

.content
{
	margin:auto;
	width:99%;
	background-color:yellow;
	border:1px solid #000000;
	clear: both;
}

.footer
{
	margin:auto;
	width:100%;
	background-color:grey;
	border:1px solid #000000;
	clear: both;
}

/*
	#header
		{
		width: 955.5px; 
		height:105px;  
		background-color: #006bb7;
		}

		h1.title 
				{
				margin: 0px; 
				border-width: 0px; 
				padding-top: 7px; 
				padding-left: 30px; 
				}
	#navigation	
	{ 
	width: 955.5px; 
	height:52px;	 
	background-color: #f79239; 
	}
		a.mmp 
		{
		margin: 0px; 
		border-width: 0px; 
		padding-top: 5px; 
		padding-left: 250px; 
		}

		a.vat 
			{
			margin: 0px; 
			border-width: 0px; 
			padding-top: 5px; 
			padding-right: 300px; 
			float:right;
			}
	#logo 		
			{
			width: 344.5px; height: 157px; background-color: #f79239; float:right; }
	#logoh1 	{ width: 344.5px; height: 105px; background-color: #006bb7; float:right; }
	#logoh2 	{ width: 344.5px; height: 52px;  background-color: #f79239; float:right; }
	#collage 	{ width: 188.5px; height:611px;  background-color: #c5c6c8; float:left; }
	#mainContent{ width:1111.5px; height:494px;  background-color: #c5c6c8; float:right; }
			h2 	{margin: 0px; border-width: 0px; padding-top: 7px; padding-left: 50px; padding-right: 50px;}
			p 	{margin: 0px; border-width: 0px; padding-top: 7px; padding-left: 50px; padding-right: 50px;}
			ul	{margin: 0px; border-width: 0px; padding-top: 7px; padding-left: 150px; padding-right: 50px;}
	#footer 	{ width:1111.5px; height:123.5px; background-color: #ff9639; float:right;}
	#container 	{ width:1300px;   clear:both;    margin: 0 auto; }
*/

body		{ background-color: grey; }

h1

	{	
		font-family: Myriad Pro, Trebuchet MS, Tahoma, Arial, Verdana;
		font-size:20px;
		font-weight: normal;
		color:blue;
		text-align:justify;
		text-indent:0px;
		text-decoration:none;
	}

h2

	{	
		font-family: Myriad Pro, Trebuchet MS, Tahoma, Arial, Verdana;
		font-size:25px;
		font-weight: normal;
		color:green;
		text-align:justify;
		text-indent:0px;
		text-decoration:none;
	}

h3

	{	
		font-family: Myriad Pro, Trebuchet MS, Tahoma, Arial, Verdana;
		font-size:12px;
		font-weight: normal;
		color:yellow;
		text-align:justify;
		text-indent:0px;
		text-decoration:none;
	}
	
p
	{	
		font-family: Myriad Pro, Trebuchet MS, Tahoma, Arial, Verdana;
		font-size:16px;
		font-weight: normal;
		color:black;
		text-align:justify;
		text-indent:0px;
		text-decoration:none;
	}

p.presenter

	{	
		font-family: Myriad Pro, Trebuchet MS, Tahoma, Arial, Verdana;
		font-size:18px;
		font-weight: normal;
		color:black;
		text-align:justify;
		text-indent:0px;
		text-decoration:none;
	}

